[Unit]
Description=Tiny Proxy Server in Docker
After=docker.service
Requires=docker.service

[Service]
Type=simple

# account 'USER' needs to be changed to a valid user for current system
User=USER
Group=USER

# place to put other files
ExecStart="/usr/local/bin/start.sh"
ExecStop= "/usr/local/bin/stop.sh"

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

